# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment files
.env
.venv
# Python egg files
.idea
.idea/
# Playwright
playwright/.cache/