# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment files
.env
.venv

# Python egg files
.idea/

# Allure reports
allure-results/
allure-report/

# Playwright
playwright/.cache/